html {
  background-color: #fff;
  font-family: Merriweather, serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 40px;
}

.img1 {
  float: left;
}

.img2 {
  float: right;
}

h1 {
  background-color: #d05c2e;
  border-color: #a63f38;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: .5em 0 0;
}

.div2 {
  display: block;
  background-color: #d05c2e;
  padding: .5em;
}

nav {
  display: block;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  text-align: center;
}

a {
  background-color: #d05c2e;
  color: #fff;
  display: inline;
  margin: 0;
  padding: .5em;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #a63f38;
}
