html {
  background-color: #fff;
  font-family: Merriweather, serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  padding: .5em 0;
  width: 40px;
}

.img1 {
  float: left;
}

.img2 {
  float: right;
}

h1 {
  background-color: #d05c2e;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: .5em 0;
}

.div2 {
  display: block;
  background-color: #d05c2e;
  border-top: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: block;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  list-style-type: none;
  margin: 0;
  text-align: center;
  width: 33.33%;
}

a {
  background-color: #d05c2e;
  color: #fff;
  display: block;
  margin: 0;
  padding: .5em;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #a63f38;
}

.middle-btn {
  border-left: 1px solid #a63f38;
  border-right: 1px solid #a63f38;
}
